# **Non-Graded Challenges 1**

# Task #1

Given list of customer_id that doing transaction in 1 day:

customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

How many unique customer_id from above list

In [2]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

id_set = set(customer_id)

unique_id = len(id_set)

print("There are", unique_id, "unique customer_id from above list")

there are 12 unique customer_id from above list

# Task #2

Given list of:

Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

Use indexing so you can get this output:

a. 16

b. [36, 49, 64, 81]

c. [100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [4]:
# Part a

Data = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

print(Data[3])

16

In [5]:
# Part b

Data = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

print(Data[5:9])

[36, 49, 64, 81]

In [12]:
# Part c

Data = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Data.reverse()

print(Data)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

# Task #3

Given a dictionary of:

provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

What python command can be use to:

a.Get list of keys available in dictionary

b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [7]:
# Part a

provinsi = {
    'Nanggroe Aceh Darussalam': 'Aceh',
    'Sumatera Selatan': 'Palembang',
    'Kalimantan Barat': 'Pontianak',
    'Jawa Timur': 'Madiun',
    'Sulawesi Selatan': 'Makassar',
    'Maluku': 'Ambon'
    }

print(provinsi.keys())

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])

In [14]:
# Part b

provinsi["Jawa Timur"] = "Surabaya"

print(provinsi)

{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}\m